body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.amountContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.amount{
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
.amountButton{
  height: 20px;
}
.submitButton{
  margin: 10px;
}

#item-container{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}
#product-item{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 400px;
  background-color: rgb(220, 220, 220);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
#product-item:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
img{
  align-self: center;
  width: 300px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
#product-item h3{
  background-color: #fff;
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}